html{
    font-family: MiSans,MI Lan Pro,serif;
}
body{
    min-width: 1226px;
}
.w{
    width: 1226px;
    margin: 0 auto;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}